<div class="container-fluid">
	<div class="container item-show-title" align="center">
		<h2><%= @item.title %></h2>
	</div>

	<div class="container item-info">
		<div class="row">	
			<div class="col-md-4">
				<h3>Price: <%= @item.sale_price %></h3>
				<h3><%= distance_of_time_in_words(@item.created_at.time, Time.now)%> old</h3>
				<%= link_to "Barter"," ", class: 'btn btn-warning' %>
				<%= link_to "Buy Now!", "", class: 'btn btn-success' %>
				<br>
				<br>
				<%= link_to "Back", items_path, class: 'btn btn-primary' %>
			</div>
			<div class="col-md-4">
				<h3>Description</h3><br>
				<h4>Locaion: <strong><%= @item.country %> </strong> </h4>
				<h5><%= @item.public_description %></h5>
				<strong><h4> Share this Item!</h4></strong>
				<%= social_share_button_tag(@item.title, popup: true) %>
			</div>
			<div class="col-md-4">
				<h3>Images</h3>
				<%= image_tag @item.avatar.url %>
			</div>
		</div>
		<br >
	</div>
</div>

